@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}
input,
textarea,
select {
  border: 1px solid gray;
  border-radius: 4px;
  /* padding-left: 1; */
  padding: 8px 12px 8px 4px;
  margin-bottom: 8px;
}
input:focus,
textarea:focus,
select:focus {
  /* @apply border-blue-900; */
  border: 1px solid blue;
}
h1 {
  color: blue;
  font-size: 16px;
}
label {
  color: blue;
  font-size: 16px;
}
.btn-primary {
  background-color: darkblue;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  border-radius: 0.125rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
table.basic {
  width: 100%;
  background-color: #fff;
  border-radius: 0.125rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
table.basic thead tr td,
table.basic thead tr th {
  font-size: 0.875rem;
  color: #718096;
  text-transform: uppercase;
  border-bottom: 1px solid #e2e8f0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
table.basic tr td {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
table.basic a {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.125rem;
  display: inline-flex;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.btn-default,
.btn-red {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.375rem;
}
.btn-red {
  background-color: #fecaca;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.125rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 1px rgba(0, 0, 0, 0.1);
}
.btn-default {
  background-color: #fff;
  color: #333;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.125rem;
  border: 1px solid #e2e8f0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 1px rgba(0, 0, 0, 0.1);
}
